<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Up In Code - $title$</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300">
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1><a href="/">Up In Code</a></h1>
        <p class="description">For every complex problem there is an anser that is clear, simple and wrong.</p>
      </div>
      <div id="navigation">
        <a href="/about.html">About</a>
        <a href="/archive.html">Archive</a>
      </div>
    </div>

    <div id="content">
      <h1>$title$</h1>
      $body$
    </div>

    <div id="footer">
      <section class="copyright">
        <p>&copy; 2015 gjn &mdash; powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a></p>
      </section>
    </div>
  </body>
</html>
